.nav-dropdown-parent-vertical {
  width: 700px;

  display: flex;
  /* height: 200px; */
  padding: 1rem;

}

.navbar-nav>.active>a:hover,
.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
  background-color: white
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  background-color: #f3f3f3;
}



.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
  color: #FFCC00
}

.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.nav-dropdown-parent-vertical-con1 {
  width: 20%;
}

.nav-dropdown-parent-vertical-con2 {
  width: 20%;
}

.nav-dropdown-parent-vertical-con3 {
  width: 20%;
}

.nav-dropdown-parent-vertical-con-image {
  width: 40%;
  height: 100%;
}

.nav-dropdown-parent-vertical-img {
  width: 80%;
  /* height: 200px; */
  margin: 0 auto;
}

.nav-dropdown-parent-vertical-img>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;

}

#loginModalDialog {
  margin-top: 10%;
  max-width: 700px;
}

.login-icon-fb {
  background-color: rgb(34, 34, 105);
}

#wrapper_1:after {
  content: "";
  background-color: #dddd;
  position: absolute;
  width: 1px;
  height: 85%;
  top: 20px;
  left: 51%;
  display: block;
}

.navbar-font {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.login-register-wrapper {
  font-family: 'Poppins', sans-serif;

}

.fb-icon-login {
  background-color: #192641;

}

.login-with-fb {
  background-color: #3b5998;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;


}

.login-google-icon {
  background-color: #B22222;
  margin-left: 1.5rem;
}

.login-with-google {
  background-color: red;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;

}

.login-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}


@media only screen and (max-width: 576px) {
  * {
    /* background-color: lightblue; */
    font-size: 12px;
  }
  body{
    overflow-x: hidden;
  }
  .navbar-section-top {
    display: flex;
    flex-wrap: wrap;
  }

  .search-input-top {
    width: 100%;
    order: 2;
  }

}