*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: 14px; */
}



body{
    background-color:white;
    font-size: 14px;

    /* overflow-x: hidden; */

/* 
    font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */
}

