.Name-tag-div1 {
  width: 100%;
  display: inline-block;
  position: relative;
}
.Name-tag-div2 {
  /* position: absolute; */
  /* width: 200px; */
}

/*  */

.single-slider {
  position: relative;
  margin-top: 40px;
  border-radius: 10px;
  width: 250px;
  height: 260px;

  margin-bottom: 40px;
  /* margin-left: 10px; */
}


.bcimages {
  opacity: 1;
  display: block;
  height: 100%;
  width: 100%;
  transition: 0.5s ease;
  backface-visibility: hidden;
  border-radius: 10px;
}

.bc-button-div{
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  bottom: 2%;
  left: 35%;

  /* transform: translate(35%, -75%); */
  /* -ms-transform: translate(-50%, -50%); */
  border: 2px solid rgb(228, 228, 228);
}

.single-slider:hover .bcimages {
  opacity: 0.3;
}

.single-slider:hover .bc-button-div {
  opacity: 1;
}

.bc-button {
  background-color: #fcfcfc;
  color: rgb(26, 24, 24);
  font-size: 16px;
  padding: 8px 20px;
  border: none;
  font-weight: 700;
  display: inline; 
  width: 100%;
  left: 35%;
  
}

/* Best Selling  */
.card {
  /* width: 80px; */
  /* height: 200px; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.card-text {
  font-family: "Poppins", sans-serif;
}
.card-title {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.card-img-top {
}
.check-inputs {
  /* margin-top: -40px; */
  margin-left: -29px;
}
.card-body {
  margin-top: -140px;
}
.Add-cart-button {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 0% 20%;
  margin-top: 30px;

  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.bG-check-input {
  background-color: aquamarine;
  width: 13px;
  height: 13px;
}
.bM-check-input {
  background-color: magenta;
  width: 13px;
  height: 13px;
}
.bP-check-input {
  background-color: purple;
  width: 13px;
  height: 13px;
}
.bR-check-input {
  background-color: red;
  width: 13px;
  height: 13px;
}
.bB-check-input {
  background-color: brown;
  width: 13px;
  height: 13px;
}

/* Resposive */
@media only screen and (min-width: 1380px) {
  .check-1 {
    height: 2px;
    width: 100%;
    background-color: rgb(206, 206, 206);
    position: relative;
    z-index: 0.9;
  }
  .check-2 {
    left: 45%;
    position: absolute;
    /* display: flex; */
    /* align-items: center; */
    background-color: rgb(85, 19, 19);
    height: 2px;
    width: 200px;
    z-index: 400;
  }
  .bc-button-div {
    margin-left: -70px;

    /* margin-right: 20px; */
  }
}
