.web-logo {
  height: 50px;
  width: 120px;
}

.web-logo>* {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.right-logos-top {
  display: flex;
  /* width: 33%; */

}

.right-logos-top>div>i {
  margin: 0px 7px;
  flex: 1;

}
/* .react-multi-carousel-list {
  margin-right: -60px;
} */

/* .slick-list {
  margin: 0 -5px;
} */

/* .slick-slide>div {
  padding: 0 6px;
} */

.slider1 .slick-list {
  margin: 0 -5px;

}

.slider1 .slick-list .slick-slide>div {
  padding: 0 10px;

}

.client-review-slider .slick-list {
  margin: 0 -5px;

}

.client-review-slider .slick-list .slick-slide>div {
  padding: 0 20px;

}

.responsive-nav {
  /* margin:8px 100px; */
  padding: 10px 100px;
}

.navbar-section-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-input-top {
  /* width: 33%; */
}

.nav-link-margin {
  margin-left: 20px;
}

.nav-dropdown-parent-vertical {
  width: 700px;
  display: flex;
}

/* 
.navbar-nav .nav-item .nav-link {
  color: black;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
  color: rebeccapurple;
}


.navbar-nav .nav-item:hover .nav-dropdown-parent-vertical {
  transform: scale(0.99);
} */
.carousal-height {
  height: 500px;
}

.carousal-height2 {
  height: 330px;

}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;

}

/* .carousel-indicators {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
} */

.carousel-indicators>.dot1 {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  /* background-color: yellow; */
}

.carousel-indicators>.dot2 {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  /* background-color: yellow; */

}

.carousel-indicators>.dot3 {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  /* background-color: yellow; */

}














.after-hero-image-card {
  display: flex;
  justify-content: space-around;
}

.after-hero-image-card>* {
  /* border: 1px solid #d1d1d1; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex: 1;
  margin: 0px 10px;
  padding: 7px 0px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.after-hero-image-card-logo {
  width: 30px;
}



/* browse our categories */

.Name-tag-div1 {
  width: 100%;
  display: inline-block;
  position: relative;
}


.Name-tag {
  /* border-bottom: 3px solid rgb(88, 39, 39); */
  /* padding-bottom: 68px; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  position: relative;
  width: 100%;
  /* font-family: 'Poppins', sans-serif;
  font-weight:500;
  font-size: 1.6rem; */
}

/* .check5{
    position:absolute;
    width: 50%;

  } */
/* .broswe-our-cat-heading {
  margin: 0px 7rem;
} */

.check-1 {
  height: 2px;
  width: 100%;
  background-color: rgb(216, 216, 216);
  position: relative;
  z-index: 0.9;
  margin-top: -2px;
}

.check-2 {
  left: 41%;
  position: absolute;
  background-color: rgb(107, 31, 31);
  height: 2px;
  width: 200px;
  z-index: 400;
}

.slick-initialized {
  overflow: hidden;
}




.browse-cat-single-item {
  width: 320px;
  height: 220px;
  position: relative;
  z-index: 1;
}


.browse-cat-single-item>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.browse-cat-single-item:hover {
  opacity: 0.8;
  transform: scale(0.95);
  transition: all 0.3s ease;
  cursor: pointer;
}

.browse-cat-single-inside-btn {
  position: absolute;
  z-index: 10;
  bottom: 5%;
  width: 100%;

  padding: 0px 4rem;

}

.browse-category-card-font {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
  font-weight: 400;
}

.best-selling-prouct-items {

  border-radius: 6px;
  width: 240px;

  height: 340px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.best-selling-prouct-items:hover {
  opacity: 0.8;
  cursor: pointer;
  transform: scale(0.95);
  transition: all 0.2s ease;
}

.best-selling-prouct-items-top {
  position: relative;
  height: 68%;
  width: 100%;
  /* z-index: -10; */

}

.best-selling-prouct-items-top>img {
  width: 100%;
  height: 100%;
  border-radius: 6px;

}

.best-selling-prouct-items-image-content {
  position: absolute;
  left: 5px;
  bottom: 30%;
  z-index: 100;
  height: 35%;

}

.card-section-without-color-image {
  bottom: 4%;
  position: absolute;
  left: 5px;

  /* background-color: white; */
}

.star-review-overlay {
  background: rgba(255, 255, 255, 0.7);
  color: rgb(44, 39, 39);


  /* opacity: 0.9;
  z-index: 11111; */


}


.best-selling-prouct-items-content {
  height: 32%;
  width: 100%;
  /* background-color: rebeccapurple; */
  /* z-index: 1000; */


}

.add-to-cart-btns {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 3px 18px;
}

.add-to-cart-btns:hover {
  transform: translateY(-5px);
  transform: scale(1.0.66);
  transition: all 0.1s ease;
  border: 1px solid darkgray;

}



.i-frame-video-section-height {
  height: 300px;
}

.iframe-video-titles {
  letter-spacing: 1px;
}










.img-overlay-full-width-img {
  height: 320px;
  z-index: -11;
  position: relative;

}

.img-overlay-full-width-img>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
}

.img-overlay-content {
  position: absolute;
  top: 18%;
  z-index: 11;
  width: 50%;
  left: 25%;
  opacity: 0.8;
  /* transform: translate(-10%,-25%); */
  border-radius: 15px;

}

.contentss>p {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 13px;
}











.single-demo-images-cards-section {
  width: 100%;
  display: flex;
  height: 365px;
}

.code-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 13px;

}


.single-demo-image {
  width: 25%;
  position: relative;
}



.single-demo-image-cards {
  width: 75%;
}


.single-demo-image-card-items {
  border-radius: 6px;
  width: 240px;
  height: 335px;
  position: relative;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.single-demo-image-cards-top {
  position: relative;
  height: 68%;
  width: 100%;
}




.single-demo-image-cards-top>img {
  width: 100%;
  height: 100%;
  border-radius: 6px;

}

.single-demo-image-cards-image-content {
  height: 32%;
  width: 100%;
  /* background-color: rebeccapurple; */
  /* z-index: 1000; */

}

.card-items-overlay-content>.top-left-radius-code {
  border-top-left-radius: 6px;
  border-bottom-right-radius: 6px;
  position: absolute;
  left: 0;
  top: 0
}

.card-items-overlay-content>.star-icon {
  border-top-left-radius: 6px;
  border-bottom-right-radius: 6px;
  position: absolute;
  left: 10px;
  bottom: 10px;
}





/* //news letter section */

.newsletter-section {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.newsletter-section-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black rgba(0, 0, 0, 0.5);
  font-family: 'Montserrat', sans-serif;
  flex-wrap: wrap;

}

.newsletter-sec1 {
  width: 60%;
}

.newsletter-sec2 {
  width: 40%;
}

.join-our-news-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: rgb(48, 45, 45);

}



/* //footer css code */

.footer-whole-wrapper {
  position: relative;
  width: 100%;
  min-height: 300px;
}

.footer-background-image {
  position: absolute;
  width: 100%;
  height: 100%;

}

.footer-background-image>img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.footer-wrapper {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0rem 7rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  cursor: pointer;



}

.footer-contact-text {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.footer-address-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 13px;
  padding-right: 1rem;
  color: #d1d1d1;
}

.footer-wrapper>div {
  width: 100%;
  /* border: 1px solid #d1d1d1; */
}

.footer-li>* {
  list-style: none;
  font-weight: 600;
  font-size: 13px;
  color: #f4f4f4;
}

.footer-social-icons-wrapper {
  display: flex;
}

.footer-social-icons {
  border: 1px solid rgb(158, 123, 57);
  height: 27px;
  width: 27px;
  text-align: center;
  border-radius: 50%;
}

.footer-right-fb-page-wrapper {
  height: 50%;
  width: 100%;
}

.worktime-footer-text {
  font-size: 12px;
}

.footer-right-fb-page {
  height: 100%;
  width: 100%;
}

.footer-right-fb-page>img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer-social-icon-items {
  margin-top: 6px;
}

.text-color-footer {
  color: rgb(158, 123, 57);
  font-weight: 600;
}


/* customer review section  */
.customer-review-section {
  margin: 2rem 0px;
}

.customer-review-section-heading {
  text-align: center;
  padding-top: 2rem;
}

.customer-review-text {
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Montserrat', sans-serif; */
  font-weight: 600;
  color: rgb(48, 45, 45);

}

.customer-think-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.client-image {
  width: 60px;
  height: 60px;
  position: relative;
}

.client-image>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.quotation-icon {
  position: absolute;
  right: -15px;
  bottom: 5%;

}

.customer-review-item-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .customer-review-item-wrapper{
  display: flex;
} */
.customer-review-item {
  padding: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
  height: 260px;
}

.star-icon {
  font-size: 12px;
}

.customer-review-content {
  margin: 20px 0px;
}

.customer-review-name {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.customer-review-para {}

/* 
.slick-prev {
  left: 0% !important;
  z-index: 1;
  background-color: red;
}
.slick-next {
  right: 0% !important;
  z-index: 1;
}
 */

.slick-prev:before {
  /* background-color: blue !important; */
  width: 46px;
  height: 46px;
  content: '' !important;
  position: absolute;
  top: -11px;
  left: -31px;
  background-image: url(https://cdn-icons-png.flaticon.com/512/2722/2722991.png);
  background-repeat: no-repeat;
  vertical-align: middle;
  background-size: 46px;
  opacity: 1 !important;
}



@media only screen and (max-width: 576px) {
  * {
    /* background-color: lightblue; */
    font-size: 12px;
  }
  body{
    overflow-x: hidden;
  }

  .react-multi-carousel-item {
    transform-style: preserve-3d;
    backface-visibility: hidden;
    margin-right: 60px;
    width: 100%;
  }



  .responsive-nav {
    width: 100%;
    padding: 5px 25px;
    margin: 10px;
  }

  .nav-dropdown-parent-vertical {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .after-hero-image-card {
    display: flex;
    flex-direction: column;
  }

  .after-heo-image-cards {
    margin: 5px 0px;
  }

  .carousal-height {
    height: 200px;
  }

  .carousel-item>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .carousal-height2 {
    height: 150px;

  }

  .carousel-indicators .dot1 {
    border-radius: 50%;
    height: 10px;
    width: 10px;
  }

  .carousel-indicators .dot2 {
    border-radius: 50%;
    height: 10px;
    width: 10px;
  }

  .carousel-indicators .dot3 {
    border-radius: 50%;
    height: 10px;
    width: 10px;
  }

  .carousal-height2 .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .single-demo-image {
    width: 30%;
  }

  .single-demo-image-cards {
    width: 70%;

  }

  .newsletter-sec1 {
    width: 100%;
  }

  .newsletter-sec2 {
    width: 100%;
  }


  .check-2 {
    left: 20%;
    position: absolute;
    background-color: rgb(107, 31, 31);
    height: 2px;
    width: 200px;
    z-index: 400;
  }

  .flex-grow-1,
  .flex-grow-2 {
    width: 100%;
    height: 100%;
    flex: 1;
  }

  .best-selling-products-images-wrapper {
    margin-left: 20px;
  }

  /* .best-selling-prouct-items {

    border-radius: 6px;
    width: 90%;
    height: 340px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  } */




  .best-selling-prouct-items-top>img {
    width: 100%;
    height: 100%;
    border-radius: 6px;

  }



  .img-overlay-full-width-img {
    height: 430px;
    z-index: -11;
    position: relative;

  }

  .img-overlay-full-width-img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
  }

  .img-overlay-content {
    position: absolute;
    top: 7%;
    z-index: 11;
    width: 75%;
    left: 13%;
    opacity: 0.8;
    /* transform: translate(-10%,-25%); */
    border-radius: 15px;

  }


  .footer-whole-wrapper {
    position: relative;
    width: 100%;
    min-height: 500px;
    height: 100%;
    ;
  }


  .footer-wrapper {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0rem 1.5rem;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    cursor: pointer;



  }

  .react-multi-carousel-list {
    margin-left: -60px;
  }

  .single-demo-images-cards-section {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .single-demo-image {
    height: 300px;
    width: 80%;
    margin: 0 auto;
  }



  .single-demo-image-cards {
    width: 100%;
  }




  .single-demo-image-card-items {
    border-radius: 6px;
    width: 240px;
    height: 335px;
    position: relative;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

  }

  .single-demo-image-cards-top {
    position: relative;
    height: 68%;
    width: 100%;
  }




  .single-demo-image-cards-top>img {
    width: 100%;
    height: 100%;
    border-radius: 6px;

  }

  .single-demo-image-cards-image-content {
    height: 32%;
    width: 100%;
    /* background-color: rebeccapurple; */
    /* z-index: 1000; */

  }

  .card-items-overlay-content>.top-left-radius-code {
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    position: absolute;
    left: 0;
    top: 0
  }

  .card-items-overlay-content>.star-icon {
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    position: absolute;
    left: 10px;
    bottom: 10px;
  }




}