.web-logo {
  height: 50px;
  width: 120px;
}

.web-logo>* {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.right-logos-top {
  display: flex;
  /* width: 33%; */

}

.right-logos-top>div>i {
  margin: 0px 7px;
  flex: 1;

}

.slick-list {
  margin: 0 -5px;
}

.slick-slide>div {
  padding: 0 6px;
}

.responsive-nav {
  /* margin:8px 100px; */
  padding: 10px 100px;
}

.navbar-section-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-input-top {
  /* width: 33%; */
}

.nav-link-margin {
  margin-left: 20px;
}

.nav-dropdown-parent-vertical {
  width: 700px;
  display: flex;
}




.carousal-height {
  height: 500px;
}

.carousal-height2 {
  height: 330px;

}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;

}

/* .carousel-indicators {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
} */

.carousel-indicators>.dot1 {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  /* background-color: yellow; */
}

.carousel-indicators>.dot2 {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  /* background-color: yellow; */

}

.carousel-indicators>.dot3 {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  /* background-color: yellow; */

}

.after-hero-image-card {
  display: flex;
  justify-content: space-around;
}

.after-hero-image-card>* {
  border: 1px solid #d2d2d2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex: 1;
  margin: 0px 10px;
  padding: 5px 0px;

}

.after-hero-image-card-logo {
  width: 30px;
}



/* browse our categories */

.Name-tag-div1 {
  width: 100%;
  display: inline-block;
  position: relative;
}


.Name-tag {
  /* border-bottom: 3px solid rgb(88, 39, 39); */
  /* padding-bottom: 68px; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  position: relative;
  width: 100%;
}

/* .check5{
    position:absolute;
    width: 50%;

  } */
/* .broswe-our-cat-heading {
  margin: 0px 7rem;
} */

.check-1 {
  height: 2px;
  width: 100%;
  background-color: rgb(216, 216, 216);
  position: relative;
  z-index: 0.9;
  margin-top: -2px;
}

.check-2 {
  left: 41%;
  position: absolute;
  background-color: rgb(107, 31, 31);
  height: 2px;
  width: 200px;
  z-index: 400;
}

.slick-initialized {
  overflow: hidden;
}




.browse-cat-single-item {
  width: 320px;
  height: 220px;
  position: relative;
  z-index: 1;
}

.browse-cat-single-item>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.browse-cat-single-inside-btn {
  position: absolute;
  z-index: 10;
  bottom: 5%;
  width: 100%;

  padding: 0px 4rem;

}

.best-selling-prouct-items {

  border-radius: 6px;
  width: 240px;
  height: 340px;
  position: relative;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.best-selling-prouct-items-top {
  position: relative;
  height: 68%;
  width: 100%;
  /* z-index: -10; */

}

.best-selling-prouct-items-top>img {
  width: 100%;
  height: 100%;
  border-radius: 6px;

}

.best-selling-prouct-items-image-content {
  position: absolute;
  left: 5px;
  bottom: 30%;
  z-index: 100;
  height: 35%;

}

.card-section-without-color-image {
  bottom: 5%;
  position: absolute;
  left: 5px;
  z-index: 100;
}

.best-selling-prouct-items-content {
  height: 32%;
  width: 100%;
  /* background-color: rebeccapurple; */
  /* z-index: 1000; */


}

.add-to-cart-btns {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 3px 20px;
}



.i-frame-video-section-height {
  height: 300px;
}

.iframe-video-titles {
  letter-spacing: 1px;
}










.img-overlay-full-width-img {
  height: 300px;
  z-index: -11;
  position: relative;

}

.img-overlay-full-width-img>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
}

.img-overlay-content {
  position: absolute;
  top: 18%;
  z-index: 11;
  width: 50%;
  left: 25%;
  opacity: 0.8;
  /* transform: translate(-10%,-25%); */
  border-radius: 15px;

}

.contentss>p {
  /* word-spacing: 1px; */
  font-family: sans-serif;
}























.single-demo-images-cards-section {
  width: 100%;
  display: flex;
  height: 365px;
}



.single-demo-image {
  width: 25%;
  position: relative;
}

.single-demo-image-overlay {
  position: absolute;
  bottom: 10px;
  /* left: 10%; */
  width: 100%;
  background-color: rgba(60, 64, 67, 0.15)
}


.single-demo-image-cards {
  width: 75%;
}

.view-all-buttons {
  padding: 2px 20px;
}

.single-demo-image-card-items {
  border-radius: 6px;
  width: 240px;
  height: 340px;
  position: relative;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.single-demo-image-cards-top {
  position: relative;
  height: 68%;
  width: 100%;
}




.single-demo-image-cards-top>img {
  width: 100%;
  height: 100%;
  border-radius: 6px;

}

.single-demo-image-cards-image-content {
  height: 32%;
  width: 100%;
  /* background-color: rebeccapurple; */
  /* z-index: 1000; */

}

.card-items-overlay-content>.top-left-radius-code {
  border-top-left-radius: 6px;
  border-bottom-right-radius: 6px;
  position: absolute;
  left: 0;
  top: 0
}

.card-items-overlay-content>.star-icon {
  border-top-left-radius: 6px;
  border-bottom-right-radius: 6px;
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.size-div,
.available-size-para,
.size>* {
  font-size: 11px;
  text-align: center;
}

.size {
  width: 20px;
}

.available-size-para {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.size-div {
  position: absolute;
  right: 0px;
  bottom: 0px;
}



/* //news letter section */

.newsletter-section {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}

.newsletter-section-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}





/* //footer css code */

.footer-whole-wrapper {
  position: relative;
  width: 100%;
  height: 300px;
}

.footer-background-image {
  position: absolute;
  width: 100%;
  height: 100%;

}

.footer-background-image>img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.footer-wrapper {
  background-color: black;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 111;
  padding: 0rem 7rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;


}

.footer-wrapper>div {
  width: 100%;
  /* border: 1px solid #d1d1d1; */
}

.footer-li>* {
  list-style: none;
}

.footer-social-icons-wrapper {
  display: flex;
}

.footer-social-icons {
  border: 1px solid rgb(158, 123, 57);
  height: 27px;
  width: 27px;
  text-align: center;
  border-radius: 50%;
}

.footer-social-icon-items {
  margin-top: 6px;
}

.text-color-footer {
  color: rgb(158, 123, 57);
  font-weight: bold;
}

@media only screen and (max-width: 576px) {
  body {
    /* background-color: lightblue; */
  }

  .responsive-nav {
    width: 100%;
    padding: 5px 25px;
    margin: 10px;
  }

  .nav-dropdown-parent-vertical {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .after-hero-image-card {
    display: flex;
    flex-direction: column;
  }

  .after-heo-image-cards {
    margin: 5px 0px;
  }
}